$font-main: "Noto Sans", sans-serif;
$font-element: "Pangolin", sans-serif;

$body-color-black: #000000;
$font-color-white: #fff;
$section-color-dark-vanilla: #dec7a6;
$wrapper-color-cultured: #f8f5ef;
